
.p-card-header {
  background-color: #dcd6f7;
  border-radius: 15px;
  text-align: center;
  padding: 0.01%;
  border: 1px solid #FFFFFF;
}


.p-card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

::ng-deep .p-card {
  margin-bottom: 3px;
  background-color: rgba(246, 232, 234, 0.8);
}
